# ===================
# Gradle
.gradle/
**/build/
!gradle-wrapper.jar

# Local properties
local.properties
**/caches/
**/.idea/

# IntelliJ / Android Studio
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Keystore (security)
*.jks
*.keystore

# Logs
*.log

# Others
captures/
output.json
.cxx/
.externalNativeBuild/
